doctype html
html(lang="en")
  include includes/head.pug
  body
    .container
      h5 Create new architecture
      form(method="post", action="/architecture")
        input.form-control(type="text", name="name", placeholder="Architecture name")
        input.form-control(type="text", name="endpoint", value="amqp://rabbitmq")
        textarea.form-control(name="steps", rows="10", placeholder="list of steps in YAML")
        button.btn.btn-primary(type="submit") create
