doctype html
html(lang="en")
  include includes/head.pug
  body
    .container

      h5 All loaded architectures
      table.table.border
        each arch in architectures
          tr
            td= arch.id
            td= arch.name
            td= arch.endpoint
            if arch.active
              td active
              td
                form(action="/architecture/" + arch.id + "/active")
                  button.btn.btn-primary(type="submit", name="active" value="false") deactivate
            else
              td Inactive
              td
                form(action="/architecture/" + arch.id + "/active")
                  button.btn.btn-primary(type="submit", name="active", value="true") activate
            td
              button.btn.btn-primary View drawing
              a.btn.btn-primary(href="/architecture/" + arch.id + "/io") View IO

      h5 Create new architecture
      form(method="post", action="/architecture")
        input.form-control(type="text", name="name", placeholder="Architecture name")
        input.form-control(type="text", name="endpoint", value="amqp://rabbitmq")
        textarea.form-control(name="steps", rows="10", placeholder="list of steps in YAML")
        button.btn.btn-primary(type="submit") create
